/* Global-styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Goldman-Regular";
  src: url(./fonts/Goldman-Regular.ttf);
}

/* @font-face {
  font-family: "Goldman-Bold";
  src: url(./fonts/Goldman-Bold.ttf);
} */

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(4rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --gcolor1: #554c73;
  --gcolor2: #09151d;
  --container-color: rgba(64, 47, 66, 0.6);
  --text-color: #efede1;
}

li,
label,
button,
input,
a,
p {
  font-size: var(--text);
}

h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
  font-family: "Goldman-Regular", sans-serif;
}

h4,
h5 {
  font-size: var(--header5);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: "Goldman-Regular", sans-serif;
  color: var(--text-color);
}

p {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-family: "Goldman-Regular", sans-serif;
}

button {
  font-family: "Goldman-Regular", sans-serif;
  padding: 1.5rem 4rem;
  color: var(--text-color);
  background: transparent;
  border: 0.2rem solid var(--text-color);
  cursor: pointer;
}

button:hover {
  background: var(--gcolor2);
  padding: 1.7rem 4.2rem;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* Nav-styles */

#main-head {
  width: 100%;
  min-height: 10vh;
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.6);
}

.nav-links {
  width: 90%;
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  flex: 2 1 20rem;
  padding-top: 1rem;
}

#logo img {
  width: 15rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3 1 40rem;
}

/* Hero-style */
.hero {
  min-height: 100vh;
  background: url(./img/Space.png);
  background-size: cover;
  background-position: center;
}

.hero h2 {
  text-align: center;
  padding: 2rem 0rem;
  margin-bottom: 3rem;
}

/* How-we-started and Goals styles */
.how-we-started,
#goals {
  min-height: 100vh;
  background: url(./img/bg.png);
  background-size: cover;
  background-position: center;
}

.how-we-started p,
#goals p {
  background: var(--container-color);
  padding: 5rem;
  border-radius: 1.5rem;
}

.how-we-started h3,
#goals h3 {
  padding: 2rem 0rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

#goals h3 {
  padding-top: 5rem;
}

/* Events-tyle */
#events {
  min-height: 100vh;
  background: url(./img/bg.png);
  background-size: cover;
  background-position: center;
  transform: scaleY(-1);
}

#events .container {
  transform: scaleY(-1);
}

#events h3 {
  padding: 2rem 0rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

#events .icons {
  background: var(--container-color);
  border-radius: 1.5rem;
  padding: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 20rem;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center;
}

.icon {
  width: 15rem;
  border: 0.3rem solid var(--text-color);
  border-radius: 0.3rem;
  padding: 3rem;
}

.icon:hover {
  background: var(--gcolor2);
}

/* Info-section Style */
#info-section {
  min-height: 200vh;
  background: radial-gradient(var(--gcolor1), var(--gcolor2));
}

.recent-events h3 {
  padding: 5rem 0rem;
}

.founding-members h3,
.executive-members h3 {
  margin: 5rem 0rem;
  padding: 2rem;
}

.executive-members,
.founding-members {
  padding-bottom: 5rem;
}

.members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.member-container p {
  font-family: "Goldman-Regular";
}

.member {
  height: 15rem;
  width: 15rem;
  padding: 1rem;
  margin: 2rem;
  background: var(--gcolor1);
  border-radius: 50%;
}

/* Cards */
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  min-height: 40rem;
  min-width: 20rem;
  max-width: 30rem;
  margin: 3rem;
  background: var(--text-color);
  border-radius: 1rem;
  padding: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Footer Styles */
footer {
  background: var(--text-color);
  color: black;
}

footer h3 {
  padding: 5rem;
  text-align: center;
}

footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.footer-text {
  flex: 1 1 30rem;
  margin-right: 4rem;
}

.links {
  height: 5rem;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.footer-text p {
  font-family: "Goldman-Regular", sans-serif;
  text-align: center;
  padding: 2rem 0rem;
  margin: 3rem 0rem;
}

.footer-text button {
  color: var(--text-color);
  background: #2e3048;
  border: none;
  width: 100%;
  border-radius: 1rem;
  margin: 5rem 0rem;
}

.footer-text button:hover {
  color: var(--text-color);
  background: var(--gcolor1);
  padding: 1.5rem 4rem;
}

form {
  background: #2e3048;
  color: var(--text-color);
  border-radius: 1.5rem;
  flex: 1 1 30rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.form-container input {
  width: 80%;
  height: 3rem;
  margin: 1rem 0rem;
}

textarea {
  margin: 1rem 0rem;
  width: 80%;
}

input,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  background: var(--text-color);
  border: none;
  color: #09151d;
}

form button {
  margin: 2rem 0rem;
  border-radius: 0.5rem;
  background: #2e3048;
}

form button:hover {
  background: var(--gcolor1);
  border: 0.2rem solid var(--text-color);
  padding: 1.5rem 4rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 932px) {
  nav {
    text-align: center;
  }
  .how-we-started p,
  #goals p {
    padding: 1rem;
  }
}
