#info-section {
	min-height: 100vh;
	background: radial-gradient(#145B73, #000);
}

.executives,
.founders {
	@include flex(space-around, center, column);

	h3 {
		display: inline-block;
		font-size: 4rem;
		padding: 2rem;
		margin: 4rem 0;
	}
}

.members {
	@include flex(space-around, center, row);
	width: 80%;
	margin: 2rem auto;
	text-align: center;
	flex-wrap: wrap;
}

.member-container {
	flex: 1 1 30rem;

	img {
		width: 12rem;
		height: 12rem;
		margin: 4rem;
		padding: 1rem;
		background: #3B6978;
		border-radius: 100%;
	}
}
